apiVersion: v1
kind: Secret
metadata:
  name: aws
type: Opaque
data:
  bucket: YOUR_BUCKET_BASE64_ENCODED_HERE
  region: YOUR_REGION_BASE64_ENCODED_HERE
  key: YOUR_KEY_BASE64_ENCODED_HERE
  secret: YOUR_SECRET_BASE64_ENCODED_HERE