apiVersion: v1
kind: Secret
metadata:
  name: postgresql
type: Opaque
data:
  host: YOUR_HOST_BASE64_ENCODED_HERE
  port: YOUR_PORT_BASE64_ENCODED_HERE
  name: YOUR_NAME_BASE64_ENCODED_HERE
  user: YOUR_USER_BASE64_ENCODED_HERE
  password: YOUR_PASSWORD_BASE64_ENCODED_HERE
  sslmode: YOUR_SSLMODE_BASE64_ENCODED_HERE